#!/bin/sh
set -e
{{ if eq .chezmoi.os "linux" -}}
PACKAGE_LIST="fzf tmux stow"
if command -v sudo &> /dev/null
then
  echo "Installing $PACKAGE_LIST with apt"
  apt-get install -y $PACKAGE_LIST
else
  echo "Installing $PACKAGE_LIST with sudo apt"
  sudo apt-get install -y $PACKAGE_LIST
fi
{{ else if eq .chezmoi.os "darwin" -}}
PACKAGE_LIST="coreutils fzf tmux stow"
echo "Installing $PACKAGE_LIST with brew"
brew install $PACKAGE_LIST
{{ end -}}
