#!/bin/sh
set -e
{{ if eq .chezmoi.os "linux" -}}
PACKAGE_LIST="fzf tmux stow"
if command -v sudo &> /dev/null
then
  echo "Installing $PACKAGE_LIST with apt"
  apt-get install -y $PACKAGE_LIST
else
  echo "Installing $PACKAGE_LIST with sudo apt"
  sudo apt-get install -y $PACKAGE_LIST
fi
{{ else if eq .chezmoi.os "darwin" -}}
PACKAGE_LIST="coreutils fzf tmux stow"
echo "Installing $PACKAGE_LIST with brew"
brew install "$PACKAGE_LIST"
{{ end -}}

# zgenom
git clone https://github.com/jandamm/zgenom.git "${HOME}/.zgenom"

# zsh starter-kit
git clone https://github.com/unixorn/zsh-quickstart-kit.git "${HOME}/.zsh-quckstart-kit"
this_dir=$(pwd)
cd "${HOME}/.zsh-quckstart-kit"
stow --target="$HOME" zsh
cd "$this_dir"
